# Environment variables
.env

# Virtual Environment
.venv/
venv/
env/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Chroma DB
chroma_db/


# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

medical_rag_chromadb (1).ipynb